<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content="Ely Torres Neto"/>
    <meta name = "team" content="NEWCORP"/>
    <meta name = "description" content = "Um site simples para registro de clientes no MongoDB!"/>
    <meta name = "keywords" content = "registro,ejs,express,node,mongodb,info5,ifsul"/>
    <link rel="stylesheet" href="/css/list/style.css">
    <title>REGISTRA CLIENTES!</title>
</head>
<body>