<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/css/registroCliente/style.css"/>
    <title>Ver pedido: <%=usuario.nome%></title>
</head>
<body>
    <div id = "wrapper">
        <header class = "header-name">
            <h2>Pedido</h2>
        </header>
        <main>
            <article class = "foto-cliente">
                <img src = "/img/photos/<%=usuario.foto_perfil%>" alt ="Foto de Perfil"/>
            </article>
            <article class = "dados_cliente">
                <table>
                    <tr>
                        <th>Nome:</th>
                        <td><%=usuario.nome %></td>
                    </tr>
                    <tr>
                        <th>Foto:</th>
                        <td><%=usuario.foto%> </td>
                    </tr>
                    <tr>
                        <th>Email:</th>
                    </tr>
                    <tr>
                        <th>CPF:</th>
                    </tr>
                    <tr>
                        <th>IE:</th>
                    </tr>
                    <tr>
                        <th>Telefone:</th>
                    </tr>
                    <tr>
                        <th>Estado:</th>
                    </tr>
                    <tr>
                        <th>Cidade:</th>
                    </tr>
                    <tr>
                        <th>Endereço:</th>
                    </tr>
                    <tr>
                        <th>Carimbo:</th>
                    </tr>
                </table>



            </article>

        </main>


        
    </div>  
</body>
</html>