*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
input{
    outline: none;
}

body{
    margin: 0 auto;
}

.list_tabela td,.list_tabela th,.list_tabela {
    border: 1px solid black;
    padding: 10px;
    margin: 0 auto;
}
table{
    width: 100%;
}

.form-cliente *{
    display: block;
    margin-top: 30px;
}
.form-cliente input{
    height: 50px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    width: 80%;
}

.form-cliente{
    padding: 30px;
}
