*{
    margin: 0;
    padding:0;
    box-sizing: border-box;

    font-family: sans-serif;
}
input{
    outline: none;
}

body{
    margin: 0 auto;
}

.list_tabela td,.list_tabela th {
    border: 1px solid black;
    padding: 7px;
    margin: 0 auto;
}
table{
    width: 100%;
}

.form-cliente *{
    display: block;
    margin-top: 15px;
}
.form-cliente input{
    height: 50px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    width: 80%;
}

.form-cliente{
    padding: 30px;
}

.img-fix-size{
    width: 30px;
}
.th_td_edit_delete{
    text-align: center;
}
td{
    font-size: 10px;
}
.botaoLink{ 
    background-color: green;
    color: greenyellow;
    padding: 7px 15px;
    text-decoration: none;
}
.botaoLink:visited{
    color:greenyellow;
}

.foto-perfil{
    width: 150px;
}