*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
#wrapper{
    border: 2px solid green;
    padding: 20px;
}
.header-name
{   
    display:flex;
    border: 2px solid red;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 50px;
    height:80px;
    max-height: 80px;
    width: 100%;
}

.foto-cliente{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    max-width: 200px;
    min-width: 70px;
    max-height: 200px;
    min-height:70px;
    width: 200px;
    height: 200px;
    margin: 10px 0;
    overflow: hidden;
    border-radius: 20%;
}
.foto-cliente img{
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
}
.dados_cliente{
    border: 1px solid royalblue;
    padding: 30px 0;
}

.bold{
    font-weight: bold;
}
.normal{
    font-weight:normal;
}
ul{
    list-style: none;
}
ul li{
    display: block;
}

th,tr,td{
    border: 2px solid red;
}

