<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/addEdit/style.css" type="text/css">
    <title>Adicionando:</title>
</head>

<body class="bg-dark">
    <div class="container">
        <div class="header-content-box row p-3 d-flex align-items-center bg-primary bg-gradient">
            <div class="col-6 logo-field justify-content-start">
                <h2 class='d-inline text-white fs-1'>Adicionando Clientes...</h2>
            </div>
            <div class="col-6 routes-link d-inline-block d-flex justify-content-end">
                <a href="/usuario/list" class="btn btn-danger bg-gradient text-decoration-none"> Listar</a>
            </div>
        </div>
        <div class="row">
            <div class="card bg-light">
                <div class="card-body">
                    <div class="row">
                        <form method="post" enctype="multipart/form-data">
                            <fieldset class = "fieldset-border">
                                <div class="row margin-input">
                                    <legend>Foto</legend>
                                    <hr>
                                </div>
                                <div class="row margin-input">
                                    <input type="file" name="foto_perfil" id="input-foto" accept="image/*" class = "form-control"required>
                                </div>
                            </fieldset>
                            <fieldset class = "fieldset-border">
                                <div class="row margin-input-legend">
                                    <legend>Dados Pessoais</legend>
                                    <hr>
                                </div>
                                
                                <div class="row margin-input">
                                    <label for="input-nome" class="form-label">Nome:</label>
                                </div>
                                <div class="row margin-input">
                                    <input type="text" name="nome" id="input-nome" placeholder="Digite o seu nome aqui:"
                                        class="form-control" required>
                                </div>
                                <div class="row margin-input">
                                    <label for="input-cpf" class="form-label">CPF:</label>
                                </div>
                                <div class="row margin-input">
                                    <input type="number" name="cpf" id="input-cpf" placeholder="Informe o seu CPF aqui:"
                                        class="form-control" maxlength="11" required>
                                </div>
                                <div class="row margin-input">
                                    <label for="input-ie" class="form-label">Inscrição Estadual:</label>
                                </div>
                                <div class="row margin-input">
                                    <input type="number" name="ie" id="input-ie" placeholder="Digite a IE aqui:"
                                        class="form-control" maxlength="9" required>
                                </div>

                            </fieldset>
                                <fieldset class = "fieldset-border">
                                    <div class="row margin-input-legend">
                                        <legend>Contato</legend>
                                        <hr>
                                    </div>
                                    <div class="row margin-input">
                                        <label for="input-ddd form-label">DDD:</label>
                                    </div>
                                    <div class="row margin-input">
                                        <select name="ddd" class="form-control" required>
                                            <% for(let i=11; i <=99;i++){ if ( i==20 ||i==23 || i==25 || i==26 || i==28 || i==29
                                                || i==30 || i==36 || i==39 || i==40 || i==50 || i==51 || i==52 || (i>=55 && i
                                                <61) || i==70 || i==72 || i==76 || i==78 || i==80 || i==90 ) { continue; } else
                                                    { %>
                                                    <option value="<%=i%>">
                                                        <%=i%>
                                                    </option>
                                                    <%} }%>
                                        </select>
                                    </div>
                                    <div class="row margin-input">
                                        <label for="input-nome" class="form-label">Telefone:</label>
                                    </div>
                                    <div class="row margin-input">
                                        <input type="tel" name="telefone" id="input-telefone"
                                            placeholder="Digite o seu telefone:" class="form-control" maxlength="9"
                                            required>
                                    </div>
                                    <div class="row margin-input">
                                        <label for="input-nome" class="form-label">Email:</label>
                                    </div>
                                    <div class="row margin-input">
                                        <input type="email" name="Email" id="input-email"
                                            placeholder="name@example.com:" class="form-control" maxlength="200"
                                            required>
                                    </div>
                                </fieldset>
                                <fieldset class = "fieldset-border">
                                    <div class="row margin-input-legend">
                                        <legend>Localidade:</legend>
                                        <hr>
                                    </div>
                                    <div class="row margin-input">
                                        <label for="input-nome form-label">Cidade:</label>
                                    </div>
                                    <div class="row margin-input">
                                        <input type="text" name="cidade" id="input-cidade"
                                            placeholder="Digite o nome da sua cidade:" class="form-control"
                                            maxlength="200" required>
                                    </div>
                                    <div class="row margin-input">
                                        <label for="input-nome" class="form-label">Endereco:</label>
                                    </div>
                                    <div class="row margin-input">
                                        <input type="text" name="endereco" id="input-cidade"
                                            placeholder="Digite seu endereco" class="form-control" maxlength="200"
                                            required>
                                    </div>
                                    <div class="row margin-input">
                                        <label for="input-nome" class="form-label">Unidade Federativa:</label>
                                    </div>
                                    <div class="row margin-input">
                                        <select name="uf" required>
                                            <option hidden>UF</option>
                                            <option value="RO">RO</option>
                                            <option value="AC">AC</option>
                                            <option value="AM">AM</option>
                                            <option value="RR">RR</option>
                                            <option value="PA">PA</option>
                                            <option value="AP">AP</option>
                                            <option value="TO">TO</option>
                                            <option value="MA">MA</option>
                                            <option value="PI">PI</option>
                                            <option value="CE">CE</option>
                                            <option value="RN">RN</option>
                                            <option value="PB">PB</option>
                                            <option value="PE">PE</option>
                                            <option value="AL">AL</option>
                                            <option value="SE">SE</option>
                                            <option value="BA">BA</option>
                                            <option value="MG">MG</option>
                                            <option value="ES">ES</option>
                                            <option value="RJ">RJ</option>
                                            <option value="SP">SP</option>
                                            <option value="PR">PR</option>
                                            <option value="SC">SC</option>
                                            <option value="RS">RS</option>
                                            <option value="MS">MS</option>
                                            <option value="RS">RS</option>
                                            <option value="MT">MT</option>
                                            <option value="GO">GO</option>
                                            <option value="DF">DF</option>
                                        </select>
                                    </div>
                                </fieldset>
                                <fieldset class = "fieldset-border">
                                    <div class="row margin-input-legend">
                                        <hr>
                                        <legend>Confirmar alterações?</legend>
                                    </div>
                                    <div class="row margin-input">
                                        <input type="submit" value="Adicionar"
                                            class="form-control btn btn-success bg-gradient text-light form-control-lg">
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>