<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content="Ely Torres Neto"/>
    <meta name = "team" content="NEWCORP"/>
    <meta name = "description" content = "Um site simples para registro de clientes no MongoDB!"/>
    <meta name = "keywords" content = "registro,ejs,express,node,mongodb,info5,ifsul"/> 
    <title>REGISTRA CLIENTES!</title>
</head>
<body>
    <form method="post" class="form-cliente"/>
        <label for = "nomeInput">Nome:</label>        
        <input type="text" name="nome" required id = "nomeInput" placeholder="Ex:João da Silva Machado"/>

        <label for = "cpfInput">CPF:</label>        
        <input type="text" name="cpf" required id = "cpfInput" placeholder="Informe aqui o seu cpf:" maxlength="11" required/>
        
        <label for = "ieInput">IE:</label>        
        <input type="text" name="ie" id = "ieInput" placeholder="Digite aqui a inscrição estadual:" maxlength="9"/>

        <select name = "uf"id = "ufInput" required>
            <option>UF</option>
            <option value = "Acre"> AC</option>
            <option value = "Alagoas">AL</option>
            <option value = "Amapá">AP</option>
            <option value = "Amazonas">AM</option>
            <option value = "Bahia"> BA</option>
            <option value = "Ceará"> CE</option>

            <option value = "Distrito Federal">DF</option>
            <option value = "Espírito Santo">ES</option>
            <option value = "Goiás"> GO</option>
            <option value = "Maranhão">MA</option>
            <option value = "Mato Grosso">MT</option>
            <option value = "Mato Grosso do Sul"> MS</option>
            <option value = "Minas Gerais">MG</option>
            <option value = "Pará"> PA</option>
            <option value = "Paraíba">PB</option>
            <option value = "Paraná">PR</option>
            <option value = "Ceara"> CE</option>
            <option value = "Ceara"> CE</option>
            <option value = "Ceara"> CE</option>
            <option value = "Ceara"> CE</option>
            <option value = "Ceara"> CE</option>
        </select>

        <label for = "ieInput">Endereço</label>        
        <input type="text" name="endereco" id = "enderecoInput" placeholder="Digite aqui o seu endereço:"/>

        <label for = "ieInput">IE:</label>        
        <input type="text" name="ie" id = "ieInput" placeholder="Digite aqui a inscrição estadual:" maxlength="9"/>


    </form>
</body>
</html>