<!---<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "author" content="Ely Torres Neto"/>
    <meta name = "team" content="NEWCORP"/>
    <meta name = "description" content = "Um site simples para registro de clientes no MongoDB!"/>
    <meta name = "keywords" content = "registro,ejs,express,node,mongodb,info5,ifsul"/> 
    <title>REGISTRA CLIENTES!</title>
</head>
<body>
--->
<%-include ('../include/default_look_page/header.ejs')%>

    <a href = "/usuario/list">Listar</a>

    <form method="post" class="form-cliente" enctype="multipart/form-data">

        <label for = "fotoInput">Foto:</label>        
        <input type="file" name="foto" id = "fotoInput" accept="image/png, image/jpeg" required/>

        <label for = "nomeInput">Nome:</label>        
        <input type="text" name="nome" required id = "nomeInput" placeholder="Ex:João da Silva Machado"/>

        <label for = "emailInput">Email:</label>        
        <input type="email" name="email" id = "email" placeholder="exemplo@exemplo.com"/>

        <label for = "cpfInput">CPF:</label>        
        <input type="text" name="cpf" required id = "cpfInput" placeholder="Informe aqui o seu cpf:" maxlength="11" required/>
        
        <label for = "ieInput">IE:</label>        
        <input type="text" name="ie" id = "ieInput" placeholder="Digite aqui a inscrição estadual:" maxlength="9" required/>

        <label for = "ufInput">Estado:</label>
        <select name = "uf" id = "ufInput" required>
            <option hidden>UF</option>
            <option value = "Acre"> AC</option>
            <option value = "Alagoas">AL</option>
            <option value = "Amapá">AP</option>
            <option value = "Amazonas">AM</option>
            <option value = "Bahia"> BA</option>
            <option value = "Ceará"> CE</option>
            <option value = "Distrito Federal">DF</option>
            <option value = "Espírito Santo">ES</option>
            <option value = "Goiás"> GO</option>
            <option value = "Maranhão">MA</option>
            <option value = "Mato Grosso">MT</option>
            <option value = "Mato Grosso do Sul"> MS</option>
            <option value = "Minas Gerais">MG</option>
            <option value = "Pará"> PA</option>
            <option value = "Paraíba">PB</option>
            <option value = "Paraná">PR</option>
            <option value = "Pernambuco">PE</option>
            <option value = "Piauí">PI</option>
            <option value = "Rio de Janeiro">RJ</option>
            <option value = "Rio Grande do Sul">RS</option>
            <option value = "Santa Catarina">SC</option>
            <option value = "São Paulo">SP</option>
            <option value = "Sergipe">SE</option>
            <option value = "Tocantins">TO</option>
        </select>
        
        <label for = "cidadeInput">Cidade:</label>        
        <input type="text" name="cidade" id = "cidadeInput" placeholder="Digite a sua cidade:" required/>

        <label for = "enderecoInput">Endereço:</label>        
        <input type="text" name="endereco" id = "enderecoInput" placeholder="Digite aqui o seu endereço:" required/>

        <label for = "dddInput">DDD:</label>        
        <input type="text" name="ddd" id = "dddInput" placeholder="(XX):" maxlength="2" required/>

        <label for = "telefoneInput">Telefone:</label>        
        <input type="text" name="telefone" id = "telefoneInput" placeholder="Digite aqui o seu telefone para contato:" maxlength="9"/>
        <input type="submit" value="Adicionar"/>

    </form>
<%- include ('../include/default_look_page/footer.ejs')%>