@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.header-content-box a{
    text-decoration: none;
    color:white;
    display: inline-block;
    letter-spacing: 1px;
    font-size: 19px;
    background-color: rgba(128, 128, 128, 0.473);
    border-bottom:2px solid white;
    padding:5px 30px;
}
.header-content-box
{
    background-color:rgb(55, 35, 143);
    display:flex;
    align-items:center;
    max-height: 8em;
    height:5em;
    min-height: 3em;
    padding:1.5em;
}

.footer-content-box
{
    background-color:rgb(55, 35, 143);
    color: white;
    display:flex;
    align-items:center;
    justify-content:center;
    max-height: 8em;
    height:5em;
    min-height: 3em;
    padding:1.5em;
}


.header-content-box li{
    list-style: none;
    display: inline;
}
.acaoUsuario{
    margin-left:30px;
    color: white;
}


main{
    background-image:linear-gradient(rgb(23, 50, 100)5%,rgb(51, 32, 124));
    padding:1.5em;
}

.form-add{
    border-top:3px solid rgba(255, 255, 255, 0.63);
    margin:50px auto;
    width:40%;
    padding:1.2em;
}

.article-div-margins [type="text"],
.article-div-margins [type = "email"],
.article-div-margins [type = "tel"],
.article-div-margins [type = "submit"]{
    height:40px;
    padding:0 10px;
    outline:none;
}

.article-div-margins #dddInput,
.article-div-margins #ufInput{
    outline:none;
    margin-bottom:10px;
    width:20%;
}
.article-div-margins #fotoInput{
    outline:none;
    width:40%;
}


.article-div-margins{
    /*border: 1px solid rebeccapurple;*/
    display:flex;
    flex-direction: column;
}
.article-div-margins label{
    color:white;
    font-weight: lighter;
    font-size: 16px;
}
.article-div-margins input{
    background-color:lightgray;
    outline: none;
    border: none;
    color:black;
}
input::placeholder{
    color:rgba(0, 0, 0, 0.575);
    font-style: italic;
    font-size: 13px;
}
.article-div-margins label,
.article-div-margins input{
    display:block;
    margin:10px 0;
}

