.margin-input{
    margin:0.7em 0;
}
.margin-input-legend{
    margin: 2em 0;
}
.form-label{
    font-size: 1em;
}
.btn-length{
    width: 10%;
    padding: 0.2em;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

